@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-tertiary-container: 163 103 0;
  --color-on-secondary-container: 0 113 77;
  --color-tertiary-fixed-dim: 255 185 95;
  --color-outline-variant: 189 201 197;
  --color-surface-bright: 250 248 255;
  --color-on-tertiary-container: 255 250 249;
  --color-tertiary: 129 81 0;
  --color-error-container: 255 218 214;
  --color-surface: 250 248 255;
  --color-secondary-container: 108 248 187;
  --color-secondary-fixed: 111 251 190;
  --color-primary-container: 13 130 117;
  --color-surface-tint: 0 107 95;
  --color-secondary-fixed-dim: 78 222 163;
  --color-on-primary-container: 237 255 250;
  --color-on-secondary: 255 255 255;
  --color-surface-container-highest: 218 226 253;
  --color-surface-container-high: 226 231 255;
  --color-surface-dim: 210 217 244;
  --color-primary-fixed-dim: 119 215 200;
  --color-surface-container-lowest: 255 255 255;
  --color-on-tertiary: 255 255 255;
  --color-surface-container: 234 237 255;
  --color-background: 250 248 255;
  --color-on-primary-fixed-variant: 0 80 72;
  --color-on-background: 19 27 46;
  --color-surface-container-low: 242 243 255;
  --color-inverse-on-surface: 238 240 255;
  --color-on-error-container: 147 0 10;
  --color-inverse-primary: 119 215 200;
  --color-error: 186 26 26;
  --color-primary-fixed: 148 244 227;
  --color-on-surface: 19 27 46;
  --color-on-primary-fixed: 0 32 28;
  --color-on-secondary-fixed-variant: 0 82 54;
  --color-on-secondary-fixed: 0 33 19;
  --color-on-error: 255 255 255;
  --color-on-primary: 255 255 255;
  --color-surface-variant: 218 226 253;
  --color-on-surface-variant: 62 73 70;
  --color-on-tertiary-fixed-variant: 101 62 0;
  --color-tertiary-fixed: 255 221 184;
  --color-secondary: 0 108 73;
  --color-on-tertiary-fixed: 42 23 0;
  --color-inverse-surface: 40 48 68;
  --color-outline: 110 122 119;
  --color-primary: 0 103 92;
}

.dark {
  --color-on-primary: 0 56 45;
  --color-on-tertiary-container: 255 234 221;
  --color-on-secondary-container: 0 61 54;
  --color-surface: 3 20 39;
  --color-on-error-container: 255 218 214;
  --color-on-surface: 211 228 254;
  --color-surface-container: 16 32 52;
  --color-tertiary-fixed: 255 220 197;
  --color-primary-container: 0 122 101;
  --color-error: 255 180 171;
  --color-secondary-fixed: 114 248 228;
  --color-surface-bright: 42 58 79;
  --color-on-secondary-fixed: 0 32 28;
  --color-on-error: 105 0 5;
  --color-surface-tint: 122 215 190;
  --color-on-primary-container: 166 255 230;
  --color-on-secondary-fixed-variant: 0 80 71;
  --color-secondary: 81 219 200;
  --color-primary: 122 215 190;
  --color-inverse-primary: 0 107 88;
  --color-tertiary-fixed-dim: 255 183 131;
  --color-primary-fixed: 150 244 218;
  --color-on-surface-variant: 189 201 196;
  --color-outline-variant: 62 73 69;
  --color-error-container: 147 0 10;
  --color-secondary-container: 0 177 159;
  --color-tertiary-container: 168 85 0;
  --color-on-primary-fixed: 0 32 25;
  --color-surface-container-lowest: 0 15 33;
  --color-surface-container-highest: 38 54 74;
  --color-background: 3 20 39;
  --color-primary-fixed-dim: 122 215 190;
  --color-surface-container-low: 11 28 48;
  --color-tertiary: 255 183 131;
  --color-on-tertiary-fixed-variant: 113 55 0;
  --color-inverse-surface: 211 228 254;
  --color-on-tertiary: 79 37 0;
  --color-on-secondary: 0 55 49;
  --color-surface-dim: 3 20 39;
  --color-outline: 135 147 142;
  --color-surface-variant: 38 54 74;
  --color-surface-container-high: 27 43 63;
  --color-on-tertiary-fixed: 48 20 0;
  --color-on-primary-fixed-variant: 0 81 66;
  --color-secondary-fixed-dim: 81 219 200;
  --color-inverse-on-surface: 33 49 69;
}


@layer base {
  html, body {
    margin: 0;
    padding: 0;
  }
  body {
    overscroll-behavior: none;
  }
  main > :first-child {
    margin-top: 0 !important;
  }
  main > :last-child {
    margin-bottom: 0 !important;
  }
}

::-webkit-scrollbar {
  display: none;
}
